<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% if expense_list %}
        <ul>
        {% for expense in expense_list %}
            <li><a href="{% url 'expenses:expenses' expense.id %}">{{ expense.title }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
            <p>No expenses</p>
        {% endif %}
    </body>
</html>